@media (min-width: 1200px) {
  /* //////////////////////////////// HEADER ////////////////////////////////     */
  nav {
    z-index: 2;
    position: fixed;
  }
  .abs {
    z-index: 1;
    position: absolute;
    margin: 0px 0 0 0;
    background: rgba(93, 50, 161, 0.6);
    filter: brightness(90%);
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(90%);
  }
  .bg {
    background-image: url("../img/accueil/header.jpg");
    background-position: center;
    height: 100vh;
    width: 100%;
    background-size: 1550px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 0 0 0;
  }
  .bg__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 70px 0 0 0;
  }
  .bg__logo__logoheader {
    height: 400px;
    width: 700px;
    z-index: 3;
    filter: drop-shadow(2px 5px 10px #600086);
    -webkit-filter: drop-shadow(2px 5px 10px #600086);
  }
  .bg__logo__volley {
    top: 450px;
    position: absolute;
    color: var(--blanc);
    z-index: 5;
    font-family: 'Futura Heavy';
    text-shadow: 3px 3px 10px #000000;
    font-size: 80px;
  }
  .bg__logo__volley__de {
    font-size: 50px;
  }
  .bg__logo__dynamisme {
    top: 575px;
    position: absolute;
    color: var(--vert);
    z-index: 5;
    font-family: 'Futura Heavy Italic';
    font-size: 40px;
  }
  /* //////////////////////////////// BODY ////////////////////////////////     */
  .wrapper {
    width: 100%;
    max-width: 100%;
  }
  .video {
    margin: 50px;
  }
  .video__cadre {
    width: 60%;
    margin: 0 0 0 20%;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
    background: var(--clair);
  }
  .contact {
    width: 50%;
    max-width: 50%;
  }
  .contact__titre {
    font-size: 30px;
  }
  .contact__titre:after {
    display: block;
    width: 60px;
    height: 4px;
    margin: 0 auto;
    content: "";
    background-color: var(--vert);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-bottom: 20px;
  }
  .contact__informations {
    margin: 0 20% 0 20%;
    height: 100%;
  }
  .contact__informations__conteneur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 100%;
    font-size: 23px;
    text-decoration: none;
    color: var(--noir);
  }
  .contact__informations__conteneur__picto {
    width: 29%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__informations__conteneur__picto .fas {
    font-size: 50px;
  }
  .contact__informations__conteneur__texte {
    width: 73%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__informations__conteneur__texte a {
    margin: 70px 0 70px 0;
    color: var(--noir);
  }
  .contact__informations__conteneur__texte a .president {
    padding: 0 0 0 30px;
  }
  .contact__informations__conteneur__texte a:hover {
    color: var(--noir);
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .buttona {
    position: relative;
    z-index: 1000;
    width: 180px;
    height: 61px;
    line-height: 60px;
    background-color: var(--vert);
    text-transform: uppercase;
    font-family: 'Futura Heavy';
    color: var(--noir);
    text-align: center;
    overflow: hidden;
    font-size: 18px;
  }
  .buttona:hover {
    color: var(--noir);
  }
  .buttona span {
    display: block;
    background: var(--gris);
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
  }
  .buttona span:nth-child(1),
  .buttona span:nth-child(3) {
    position: absolute;
    height: 3px;
    width: 100%;
  }
  .buttona span:nth-child(2),
  .buttona span:nth-child(4) {
    position: absolute;
    height: 100%;
    width: 3px;
  }
  .buttona span:nth-child(1) {
    top: 0;
    left: -100%;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .buttona span:nth-child(2) {
    top: -100%;
    right: 0;
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  .buttona span:nth-child(3) {
    bottom: 0;
    right: -100%;
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  .buttona span:nth-child(4) {
    bottom: -100%;
    left: 0;
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  .buttona:hover span:nth-child(1) {
    top: 0;
    left: 0;
  }
  .buttona:hover span:nth-child(2) {
    top: 0;
    right: 0;
  }
  .buttona:hover span:nth-child(3) {
    bottom: 0;
    right: 0;
  }
  .buttona:hover span:nth-child(4) {
    bottom: 0;
    left: 0;
  }
  .cotisations {
    width: 50%;
    max-width: 50%;
  }
  .cotisations__titre {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Futura Heavy Italic';
  }
  .cotisations__titre:after {
    display: block;
    width: 60px;
    height: 4px;
    margin: 0 auto;
    content: "";
    background-color: var(--vert);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-bottom: 20px;
  }
  /* //////////////////////////////// TABLE ////////////////////////////////     */
  .table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .celbold {
    font-family: 'Futura Heavy';
  }
  .blueTable:first-child {
    background-color: #E4E4E4;
    width: 60%;
    margin: 0 0 0 7.5%;
    font-family: 'Futura Regular';
  }
  .blueTable:last-child {
    background-color: #E4E4E4;
    width: 20%;
    margin: 0 0 0 2.5%;
    font-family: 'Futura Regular';
    text-align: center;
  }
  table.blueTable td,
  table.blueTable th {
    border-bottom: 2px solid #FFFFFF;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #E4E4E4;
  }
  table.blueTable thead {
    background: #423084;
  }
  table.blueTable thead th {
    font-size: 20px;
    font-family: 'Futura Heavy';
    font-weight: 2000;
    color: #FFFFFF;
    border: none;
    text-align: center;
  }
  .entrainements {
    margin: 0;
    background-image: url("../img/accueil/ballon.png");
    height: 40vh;
    background-position: top;
    background-size: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--blanc);
    text-shadow: 3px 3px 10px #000000;
  }
  .entrainements__titre {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 40px;
    font-family: 'Futura Heavy Italic';
  }
  .entrainements__textee:first-child {
    line-height: 10px;
    font-family: 'Futura Regular';
    font-size: 18px;
    margin: 10px 0 0 0;
  }
  .entrainements__textee:last-child {
    line-height: 10px;
    font-family: 'Futura Regular';
    font-size: 18px;
    margin: 30px 0 0px 0;
  }
  .entrainements__textee {
    line-height: 10px;
    font-family: 'Futura Regular';
    font-size: 18px;
    margin: 20px 0 20px 0;
  }
  .entrainements__textee .fas {
    font-size: 30px;
    margin: 0 10px 0 0;
  }
  .entrainements__textee__sous {
    margin: 4px 0 4px 0;
    text-shadow: 3px 3px 10px #000000;
    padding: 0;
    font-size: 14px;
  }
  /* STYLES SPECIFIC TO FOOTER  */
}

footer {
  background-color: #070617;
  color: #FFF;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
  color: #FFF;
}

.ow {
  background: #070617;
}

@media (min-width: 1200px) {
  .footer .col-md-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0 0 0;
    margin: 0 15px 0 15px;
    width: 190px;
    height: 278px;
    float: left;
    background-color: #070617;
    color: #FFF;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}

.footer .col-md-2 ul {
  border-top: solid 3px #FFF;
}

.footer .col-md-2 ul li {
  margin: 10px 0px 10px 0px;
}

.footer .col-md-2 ul li a {
  color: #fff;
  font-size: 14px;
  font-family: 'Futura Regular';
  text-decoration: none;
  color: var(--blanc);
}

.footer .col-md-2 ul li a .fas {
  margin: 0 10px 0 0;
}

.footer .col-md-2 ul li a:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.clearfix {
  clear: both;
}

.logocontaint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 228px;
}

.logofooter {
  height: 125px;
  width: 125px;
}

@media only screen and (min-width: 0px) {
  .col-md-2 {
    height: 100%;
  }
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col-md-2 {
    width: 33%;
  }
  .footer .col-md-2 h1 {
    font-size: 14px;
  }
  .footer .col-md-2 ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .footer .col-md-2 {
    width: 50%;
  }
  .footer .col-md-2 h1 {
    font-size: 14px;
  }
  .footer .col-md-2 ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 340px) {
  .footer .col-md-2 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199.99px) {
  /* //////////////////////////////// HEADER ////////////////////////////////     */
  header body {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }
  nav {
    z-index: 2;
    position: fixed;
  }
  .abs {
    z-index: 1;
    position: absolute;
    margin: 0px 0 0 0;
    background: rgba(93, 50, 161, 0.6);
    filter: brightness(90%);
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(90%);
  }
  .bg {
    background-image: url("../img/accueil/header.jpg");
    background-position: center;
    height: 100vh;
    width: 100%;
    background-size: 1250px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 0 0 0;
  }
  .bg__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 120px 0 0 0;
  }
  .bg__logo__logoheader {
    height: 266px;
    width: 466px;
    z-index: 3;
    filter: drop-shadow(2px 5px 10px #600086);
    -webkit-filter: drop-shadow(2px 5px 10px #600086);
  }
  .bg__logo__volley {
    top: 400px;
    position: absolute;
    color: var(--blanc);
    z-index: 5;
    font-family: 'Futura Heavy';
    text-shadow: 3px 3px 10px #000000;
    font-size: 60px;
  }
  .bg__logo__volley__de {
    font-size: 40px;
  }
  .bg__logo__dynamisme {
    top: 525px;
    position: absolute;
    color: var(--vert);
    z-index: 5;
    font-family: 'Futura Heavy Italic';
    font-size: 35px;
  }
  /* //////////////////////////////// BODY ////////////////////////////////     */
  .wrapper {
    width: 100%;
    max-width: 100%;
  }
  .video {
    margin: 50px;
  }
  .video__cadre {
    width: 100%;
    margin: 0 0 0 0;
  }
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
    background: var(--clair);
  }
  .contact {
    width: 100%;
    max-width: 100%;
  }
  .contact__titre {
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Futura Heavy Italic';
  }
  .contact__titre:after {
    display: block;
    width: 60px;
    height: 4px;
    margin: 0 auto;
    content: "";
    background-color: var(--vert);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-bottom: 20px;
  }
  .contact__informations {
    margin: 0 0 0 0;
    height: 100%;
  }
  .contact__informations__conteneur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 100%;
    font-size: 23px;
    text-decoration: none;
    color: var(--noir);
  }
  .contact__informations__conteneur__picto {
    width: 29%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contact__informations__conteneur__picto .fas {
    font-size: 50px;
  }
  .contact__informations__conteneur__texte {
    width: 73%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 0 15%;
  }
  .contact__informations__conteneur__texte a {
    margin: 70px 0 70px 0;
    color: var(--noir);
  }
  .contact__informations__conteneur__texte a .president {
    padding: 0 0 0 30px;
  }
  .contact__informations__conteneur__texte a:hover {
    color: var(--noir);
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .buttona {
    position: relative;
    margin: 0 50px 0 50px;
    z-index: 1000;
    width: 180px;
    height: 61px;
    line-height: 60px;
    background-color: var(--primary);
    color: var(--gris);
    text-transform: uppercase;
    font-family: 'Futura Heavy';
    color: var(--noir);
    text-align: center;
    overflow: hidden;
    font-size: 18px;
  }
  .buttona:hover {
    color: var(--noir);
  }
  .buttona span {
    display: block;
    background: var(--gris);
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
  }
  .buttona span:nth-child(1),
  .buttona span:nth-child(3) {
    position: absolute;
    height: 3px;
    width: 100%;
  }
  .buttona span:nth-child(2),
  .buttona span:nth-child(4) {
    position: absolute;
    height: 100%;
    width: 3px;
  }
  .buttona span:nth-child(1) {
    top: 0;
    left: -100%;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .buttona span:nth-child(2) {
    top: -100%;
    right: 0;
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  .buttona span:nth-child(3) {
    bottom: 0;
    right: -100%;
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  .buttona span:nth-child(4) {
    bottom: -100%;
    left: 0;
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  .buttona:hover span:nth-child(1) {
    top: 0;
    left: 0;
  }
  .buttona:hover span:nth-child(2) {
    top: 0;
    right: 0;
  }
  .buttona:hover span:nth-child(3) {
    bottom: 0;
    right: 0;
  }
  .buttona:hover span:nth-child(4) {
    bottom: 0;
    left: 0;
  }
  .cotisations {
    width: 100%;
    max-width: 100%;
  }
  .cotisations__titre {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Futura Heavy Italic';
  }
  .cotisations__titre:after {
    display: block;
    width: 60px;
    height: 4px;
    margin: 0 auto;
    content: "";
    background-color: var(--vert);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-bottom: 20px;
  }
  /* //////////////////////////////// TABLE ////////////////////////////////     */
  .table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .celbold {
    font-family: 'Futura Heavy';
  }
  .blueTable:first-child {
    background-color: #E4E4E4;
    width: 60%;
    margin: 0 0 0 7.5%;
    font-family: 'Futura Regular';
  }
  .blueTable:last-child {
    background-color: #E4E4E4;
    width: 20%;
    margin: 0 0 0 2.5%;
    font-family: 'Futura Regular';
    text-align: center;
  }
  table.blueTable td,
  table.blueTable th {
    border-bottom: 2px solid #FFFFFF;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #E4E4E4;
  }
  table.blueTable thead {
    background: #423084;
  }
  table.blueTable thead th {
    font-size: 20x;
    font-family: 'heavy';
    font-weight: 2000;
    color: #FFFFFF;
    border: none;
    text-align: center;
  }
  .entrainements {
    margin: 0;
    background-image: url("../img/accueil/ballon.png");
    height: 40vh;
    background-position: top;
    background-size: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--blanc);
    text-shadow: 3px 3px 10px #000000;
  }
  .entrainements__titre {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 30px;
    font-family: 'Futura Heavy Italic';
  }
  .entrainements__textee:first-child {
    line-height: 10px;
    font-family: 'Futura Regular';
    font-size: 18px;
    margin: 10px 0 0 0;
  }
  .entrainements__textee:last-child {
    line-height: 10px;
    font-family: 'Futura Regular';
    font-size: 16px;
    margin: 30px 0 0px 0;
  }
  .entrainements__textee {
    line-height: 10px;
    font-family: 'Futura Regular';
    font-size: 14px;
    margin: 20px 0 20px 0;
  }
  .entrainements__textee .fas {
    font-size: 20px;
    margin: 0 10px 0 0;
  }
  .entrainements__textee__sous {
    margin: 4px 0 4px 0;
    text-shadow: 3px 3px 10px #000000;
    padding: 0;
    font-size: 14px;
  }
  /* STYLES SPECIFIC TO FOOTER  */
}

footer {
  background-color: #070617;
  color: #FFF;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
  color: #FFF;
}

.footer .col-md-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 0 0;
  width: 190px;
  height: 278px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.footer .col-md-2 ul {
  border-top: solid 3px #FFF;
  padding: 0;
}

.footer .col-md-2 ul li {
  margin: 10px 0px 10px 0px;
}

.footer .col-md-2 ul li a {
  color: #fff;
  font-size: 14px;
  font-family: 'Futura Regular';
  text-decoration: none;
  color: var(--blanc);
}

.footer .col-md-2 ul li a .fas {
  margin: 0 10px 0 0;
}

.footer .col-md-2 ul li a:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.clearfix {
  clear: both;
}

.logocontaint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 228px;
}

.ow {
  background: #070617;
}

.logofooter {
  height: 125px;
  width: 125px;
}

@media (min-width: 768px) and (max-width: 1199.99px) {
  .contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .footer .col-md-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0 0 0;
    margin: 0 10px 0 10px;
    width: 150px;
    height: 278px;
  }
}

@media only screen and (min-width: 0px) {
  .col-md-2 {
    height: 100%;
  }
}

@media only screen and (min-width: 1280px) {
  .contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media only screen and (max-width: 1139px) {
  .social h1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col-md-2 {
    width: 40%;
  }
  .footer .col-md-2 h1 {
    font-size: 14px;
  }
  .footer .col-md-2 ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .footer .col-md-2 {
    width: 50%;
  }
  .footer .col-md-2 h1 {
    font-size: 14px;
  }
  .footer .col-md-2 ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 340px) {
  .footer .col-md-2 {
    width: 100%;
  }
}

@media (max-width: 767.99px) {
  /* //////////////////////////////// HEADER ////////////////////////////////     */
  header body {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }
  nav {
    z-index: 2;
    position: fixed;
  }
  .abs {
    z-index: 1;
    position: absolute;
    margin: 0px 0 0 0;
    background: rgba(93, 50, 161, 0.6);
    filter: brightness(90%);
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(90%);
  }
  .bg {
    background-image: url("../img/accueil/header.jpg");
    background-position: center;
    height: 102vh;
    width: 100%;
    background-size: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 0 0 0;
  }
  .bg__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 120px 0 0 0;
  }
  .bg__logo__logoheader {
    height: 204px;
    width: 358px;
    z-index: 3;
    filter: drop-shadow(2px 5px 10px #600086);
    -webkit-filter: drop-shadow(2px 5px 10px #600086);
  }
  .bg__logo__volley {
    top: 350px;
    position: absolute;
    color: var(--blanc);
    z-index: 5;
    font-family: 'Futura Heavy';
    text-shadow: 3px 3px 10px #000000;
    font-size: 40px;
  }
  .bg__logo__volley__de {
    font-size: 25px;
  }
  .bg__logo__dynamisme {
    top: 425px;
    position: absolute;
    color: var(--vert);
    z-index: 5;
    font-family: 'Futura Heavy Italic';
    font-size: 30px;
  }
  /* //////////////////////////////// BODY ////////////////////////////////     */
  .wrapper {
    width: 100%;
    max-width: 100%;
  }
  .video {
    margin: 50px;
  }
  .video__cadre {
    width: 100%;
    margin: 0 0 0 0;
  }
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
    background: var(--clair);
  }
  .contact {
    width: 100%;
    max-width: 100%;
  }
  .contact__titre {
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Futura Heavy Italic';
  }
  .contact__titre:after {
    display: block;
    width: 60px;
    height: 4px;
    margin: 0 auto;
    content: "";
    background-color: var(--vert);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-bottom: 20px;
  }
  .contact__informations {
    margin: 0 0 0 0;
    height: 100%;
  }
  .contact__informations__conteneur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 100%;
    font-size: 20px;
    text-decoration: none;
    color: var(--noir);
  }
  .contact__informations__conteneur__picto {
    width: 29%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contact__informations__conteneur__picto .fas {
    font-size: 50px;
  }
  .contact__informations__conteneur__texte {
    width: 73%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 0 15%;
  }
  .contact__informations__conteneur__texte a {
    margin: 70px 0 70px 0;
    color: var(--noir);
  }
  .contact__informations__conteneur__texte a .president {
    padding: 0 0 0 30px;
  }
  .contact__informations__conteneur__texte a:hover {
    color: var(--noir);
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .buttona {
    position: relative;
    margin: 0 50px 0 50px;
    z-index: 1000;
    width: 180px;
    height: 61px;
    line-height: 60px;
    background-color: var(--primary);
    color: var(--gris);
    text-transform: uppercase;
    font-family: 'Futura Heavy';
    color: var(--noir);
    text-align: center;
    overflow: hidden;
    font-size: 16px;
  }
  .buttona:hover {
    color: var(--noir);
  }
  .buttona span {
    display: block;
    background: var(--gris);
    -webkit-transition: 2s;
    transition: 2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
  }
  .buttona span:nth-child(1),
  .buttona span:nth-child(3) {
    position: absolute;
    height: 3px;
    width: 100%;
  }
  .buttona span:nth-child(2),
  .buttona span:nth-child(4) {
    position: absolute;
    height: 100%;
    width: 3px;
  }
  .buttona span:nth-child(1) {
    top: 0;
    left: -100%;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .buttona span:nth-child(2) {
    top: -100%;
    right: 0;
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
  }
  .buttona span:nth-child(3) {
    bottom: 0;
    right: -100%;
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
  }
  .buttona span:nth-child(4) {
    bottom: -100%;
    left: 0;
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  .buttona:hover span:nth-child(1) {
    top: 0;
    left: 0;
  }
  .buttona:hover span:nth-child(2) {
    top: 0;
    right: 0;
  }
  .buttona:hover span:nth-child(3) {
    bottom: 0;
    right: 0;
  }
  .buttona:hover span:nth-child(4) {
    bottom: 0;
    left: 0;
  }
  .cotisations {
    width: 100%;
    max-width: 100%;
  }
  .cotisations__titre {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Futura Heavy Italic';
  }
  .cotisations__titre:after {
    display: block;
    width: 60px;
    height: 4px;
    margin: 0 auto;
    content: "";
    background-color: var(--vert);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-bottom: 20px;
  }
  /* //////////////////////////////// TABLE ////////////////////////////////     */
  .table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .celbold {
    font-family: 'Futura Heavy';
  }
  .blueTable:first-child {
    background-color: #E4E4E4;
    width: 60%;
    margin: 0 0 0 7.5%;
    font-family: 'Futura Regular';
  }
  .blueTable:last-child {
    background-color: #E4E4E4;
    width: 20%;
    margin: 0 0 0 2.5%;
    font-family: 'Futura Regular';
    text-align: center;
  }
  table.blueTable td,
  table.blueTable th {
    border-bottom: 2px solid #FFFFFF;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #E4E4E4;
  }
  table.blueTable thead {
    background: #423084;
  }
  table.blueTable thead th {
    font-size: 20x;
    font-family: 'heavy';
    font-weight: 2000;
    color: #FFFFFF;
    border: none;
    text-align: center;
  }
  .entrainements {
    margin: 0;
    background-image: url("../img/accueil/ballon.png");
    height: 40vh;
    background-position: top;
    background-size: 1600px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: var(--blanc);
    text-shadow: 3px 3px 10px #000000;
  }
  .entrainements__titre {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 30px;
    font-family: 'Futura Heavy Italic';
  }
  .entrainements__textee:first-child {
    line-height: 10px;
    font-family: 'Futura Regular';
    font-size: 18px;
    margin: 10px 0 0 0;
  }
  .entrainements__textee:last-child {
    line-height: 10px;
    font-family: 'Futura Regular';
    font-size: 16px;
    margin: 30px 0 0px 0;
  }
  .entrainements__textee {
    line-height: 10px;
    font-family: 'Futura Regular';
    font-size: 14px;
    margin: 20px 0 20px 0;
  }
  .entrainements__textee .fas {
    font-size: 20px;
    margin: 0 10px 0 0;
  }
  .entrainements__textee__sous {
    margin: 4px 0 4px 0;
    text-shadow: 3px 3px 10px #000000;
    padding: 0;
    font-size: 14px;
  }
  /* STYLES SPECIFIC TO FOOTER  */
}

.ow {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #070617;
  color: #FFF;
}

.ow {
  background: #070617;
}

ul {
  text-decoration: none;
}

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
  color: #FFF;
}

.footer .col-md-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 278px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.footer .col-md-2 ul {
  border-top: solid 3px #FFF;
  padding: 0;
}

.footer .col-md-2 ul li {
  margin: 10px 0px 10px 0px;
}

.footer .col-md-2 ul li a {
  color: #fff;
  font-size: 14px;
  font-family: 'Futura Regular';
  text-decoration: none;
  color: var(--blanc);
}

.footer .col-md-2 ul li a .fas {
  margin: 0 10px 0 0;
}

.footer .col-md-2 ul li a:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
  -ms-transition: .1s;
  -o-transition: .1s;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.clearfix {
  clear: both;
}

.logocontaint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 228px;
}

.logofooter {
  height: 125px;
  width: 125px;
}

@media (min-width: 768px) and (max-width: 1199.99px) {
  .contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .footer .col-md-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 10px 0 10px;
    width: 150px;
    height: 278px;
  }
}

@media only screen and (min-width: 0px) {
  .col-md-2 {
    height: 100%;
  }
}

@media only screen and (min-width: 1280px) {
  .contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media only screen and (max-width: 1139px) {
  .social h1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col-md-2 {
    width: 40%;
  }
  .footer .col-md-2 h1 {
    font-size: 14px;
  }
  .footer .col-md-2 ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 500px) {
  .footer .col-md-2 h1 {
    font-size: 14px;
  }
  .footer .col-md-2 ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 340px) {
  .footer .col-md-2 {
    width: 100%;
  }
}
/*# sourceMappingURL=main_accueil.css.map */