.leclubnone {
    display: none;
}

.histoireduvolleynone {
    display: none;
}

.leclub {
    display: block;
}

@import 'pc_presentations';
@import 'tablette_presentations';
@import 'mobile_presentations';